<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<title>Favorite Breweries</title>
</head>
<body>
	<h1>My Favorite Breweries:</h1>
	<% user.favorites.forEach(function(brewery) { %>
	<ul>
		<li><a href="/breweries/<%= brewery.id %>"<%= brewery.name %></a></li>
		<li>City: <%= brewery.city %></li>
		<li>State: <%= brewery.state %></li>
	</ul>
	<% }) %>
	
</body>
</html>