<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
	<title>Favorite Breweries</title>
</head>
<body>
<div class="navbar navbar-inverse navbar-static-top" >
	<div class="container">
		<a href="/" class="navbar-brand">SUDZ</a>
		<div class="collapse navbar-collapse navHeaderCollapse">
			<ul class="nav navbar-nav">
        			<li>
          				<a href="/contact/">Contact</a>
        			</li>
        			<li>
          				<a href="/about">About</a>
        			</li>
        			<li>
        				<a href="/search">Brewery Search</a>
        			</li>
      			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/">Home</a></li>
				<li><a href="/profile">Profile</a></li>
				<li class="active"><a href="/favorites">Favorites</a></li>
			</ul>
		</div>
	</div>
</div>
	<div class="container">
		<div class="jumbotron">
			<div class="row">
				<div class="col-xs-8">
					<h1>My Favorite Breweries:</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<% favorites.forEach(function(brewery) { %>
				<ul>
					<li><h4><a href="/breweries/<%= brewery.breweryId %>"><%= brewery.name %></a></h4>
<!-- 						add delete button to take brewery out of favorites
 -->					<form method="POST" action="/favorites/<%= brewery.breweryId %>?_method=DELETE">
						<button type="submit" class="btn btn-info">Delete from Favorites</button>
					</form>
					</li>
				</br>
				</ul>
				<% }) %>
			</div>
		</div>
	</div>

</body>
</html>