<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
	<title><%= user.username %>'s Profile</title>
</head>
<body>
<div class="navbar navbar-inverse navbar-static-top" >
	<div class="container">
		<a href="/" class="navbar-brand">SUDZ</a>
		<div class="collapse navbar-collapse navHeaderCollapse">
			<ul class="nav navbar-nav">
        			<li>
          				<a href="/contact/">Contact</a>
        			</li>
        			<li>
          				<a href="/about">About</a>
        			</li>
        			<li>
        				<a href="/search">Brewery Search</a>
        			</li>
      			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/">Home</a></li>
				<li class="active"><a href="/profile">Profile</a></li>
				<li><a href="/favorites">Favorites</a></li>
			</ul>
		</div>
	</div>
</div>
	<div class="container">
		<div class="jumbotron">
		<div class="row">
			<div class="col-xs-12">
				<h1>Welcome, <%= user.username %>!</br>
					<small>Get started with the options below</small></h1>
				</br>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-3">
				<a href="/search" class="btn btn-info" role="button">Search for Breweries</a>
			</div>
			<div class="col-xs-3">
				<a href="/favorites" class="btn btn-info" role="button">View Your Favorites</a>
			</div>
			<div class="col-xs-3">
				<form method="POST" action="/profile">
					<button type="submit" class="btn btn-danger">Logout</button>
				</form>
			</div>
		</div>
	</div>
</div>
</body>
</html>