<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<title><%= user.username %>'s Profile</title>
</head>
<body>
	<h1>Welcome, <%= user.username %>!</h1>

	<ul>
		<li><h4><a href="/favorites">View my favorite breweries</a></h4></li>
		<li><h4><a href="/profile/bucketlist">View my list of breweries to visit</a></h4></li>
		<li><h4><a href="/search">Search for Breweries</a></h4></li>
	</ul>
<!-- 	<h3>Tell us a little more about yourself:</h3>
	<form method="PUTx" action="/profile">
		<input type="text" name="firstName" placeholder="First Name"></br>
		<input type="text" name="lastName" placeholder="Last Name"></br>
		<input type="text" name="city" placeholder="City"></br>
		<input type="text" name="state" placeholder="State"></br>
		<input type="text" name="age" placeholder="age"></br>
		<button type="submit">Update</button>
	</form> -->
</body>
</html>