<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<title>Sign Up</title>
</head>
<body>
	<h1>Sign Up for an Account</h1>
	<form method="POST" action="/signup">
		<input type="text" name="newUsername" placeholder="Username"></br>
		<input type="email" name="newEmail" placeholder="Email Address"></br>
		<input type="password" name="newPassword" placeholder="Password"></br>
		<button type="submit">Create Account</button>
	</form>
</body>
</html>