<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
	<title>Sign Up</title>
</head>
<body>
<div class="navbar navbar-inverse navbar-static-top" >
	<div class="container">
		<a href="/" class="navbar-brand">SUDZ</a>
		<div class="collapse navbar-collapse navHeaderCollapse">
			<ul class="nav navbar-nav">
        			<li>
          				<a href="/contact/">Contact</a>
        			</li>
        			<li>
          				<a href="/about">About</a>
        			</li>
        			<li>
        				<a href="/search">Brewery Search</a>
        			</li>
      			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/">Home</a></li>
				<li><a href="/login">Sign In</a></li>
				<li class="active"><a href="/signup">Sign Up</a></li>
			</ul>
		</div>
	</div>
</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-3"></div>
			<div class="col-xs-6 titles">
				<h1>Sign Up for an Account</h1>
			</div>
			<div class="col-xs-3"></div>
		</div>
	</br>
		<div class="row">
			<div class="col-xs-3"></div>
			<div class="col-xs-3 inputs">
				<form method="POST" action="/signup">
					<input type="text" name="newUsername" placeholder="Username"></br>
					<input type="email" name="newEmail" placeholder="Email Address"></br>
					<input type="password" name="newPassword" placeholder="Password"></br>
				</br>
			</div>
			<div class="col-xs-3 inputs">
					<input type="text" name="newFirstName" placeholder="First Name"></br>
					<input type="text" name="newLastName" placeholder="Last Name"></br>
					<input type="text" name="newAge" placeholder="Age">
			</div>
			<div class="col-xs-3"></div>
		</div>
		<div class="row">
			<div class="col-xs-4 col-xs-offset-4">
				<button type="submit" class="btn btn-primary btn-block">Sign Up</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>