<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<title>Sign Up</title>
</head>
<body>
	<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
  		<div class="container">
    		<div class="navbar-header">
      			<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        			<span class="sr-only">Toggle navigation</span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
      			</button>
      			<a href="/" class="navbar-brand">Sudz</a>
    		</div>
    		<nav class="collapse navbar-collapse bs-navbar-collapse">
      			<ul class="nav navbar-nav">
        			<li>
          				<a href="/contact/">Contact</a>
        			</li>
        			<li>
          				<a href="/about">About</a>
        			</li>
        			<li>
        				<a href="/search">Brewery Search</a>
        			</li>
      			</ul>
      			<ul class="nav navbar-nav navbar-right">
        			<li><a href="/login" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Blog');">Sign In</a></li>
      			</ul>
    		</nav>
  		</div>
	</header>
	<div class="container">
		<div class="row">
			<div class="col-xs-6">
				<h1>Sign Up for an Account</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<form method="POST" action="/signup">
					<input type="text" name="newUsername" placeholder="Username"></br>
					<input type="email" name="newEmail" placeholder="Email Address"></br>
					<input type="password" name="newPassword" placeholder="Password"></br>
					<button type="submit">Create Account</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>