<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
	<title>About Sudz</title>
</head>
<body id="aboutStuff">
<div class="navbar navbar-inverse navbar-static-top" >
	<div class="container">
		<a href="/" class="navbar-brand">SUDZ</a>
		<div class="collapse navbar-collapse navHeaderCollapse">
			<ul class="nav navbar-nav">
        			<li>
          				<a href="/contact/">Contact</a>
        			</li>
        			<li class="active">
          				<a href="/about">About</a>
        			</li>
        			<li>
        				<a href="/search">Brewery Search</a>
        			</li>
      			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/">Home</a></li>
				<% if (userId) { %>
				<li><a href="/profile">Profile</a></li>
				<li><a href="/favorites">Favorites</a></li>
				<% } else { %>
				<li><a href="/login">Sign In</a></li>
				<li><a href="/signup">Sign Up</a></li>
				<% } %>
			</ul>
		</div>
	</div>
</div>
<div class="container">
	<div class="jumbotron homeStuff">
	<div class="row">
		<div class="col-xs-12">
			<h1>About SUDZ</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<p>SUDZ is created by me, Jeff Ercolani, an appreciator of beers.  I wanted to create a site where folks can look up breweries to gain more information about their beers, anout their methods, and ultimately plan to visit the brewery.</p>
		</div>
	</div>
	</div>
</div>
</body>
</html>