<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<title>Contact</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>Contact Sudz</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<address>
  					<strong>Sudz, Inc.</strong><br>
  					225 Bush St. Floor 5<br>
  					San Francisco, CA 94104<br>
  					<abbr title="Phone">P:</abbr> (650) 248-9049
				</address>

				<address>
  					<strong>Full Name</strong><br>
  					<a href="mailto:#">jtercolani@gmail.com</a>
				</address>
			</div>
		</div>
	</div>
</body>
</html>