<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
	<title>Brewery Search</title>
</head>
<body id="searchStuff">
<div class="navbar navbar-inverse navbar-static-top" >
	<div class="container">
		<a href="/" class="navbar-brand">SUDZ</a>
		<div class="collapse navbar-collapse navHeaderCollapse">
			<ul class="nav navbar-nav">
        			<li>
          				<a href="/contact/">Contact</a>
        			</li>
        			<li>
          				<a href="/about">About</a>
        			</li>
        			<li class="active">
        				<a href="/search">Brewery Search</a>
        			</li>
      			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/">Home</a></li>
<!-- 				if there is a logged in user, show these menu items
 -->				<% if (userId) { %>
				<li><a href="/profile">Profile</a></li>
				<li><a href="/favorites">Favorites</a></li>
<!-- 				if no logged in user, show these menu items
 -->				<% } else { %>
				<li><a href="/login">Sign In</a></li>
				<li><a href="/signup">Sign Up</a></li>
				<% } %>
			</ul>
		</div>
	</div>
</div>
<div class="container">
	<div class="jumbotron homeStuff">
		<div class="row">
			<div class="col-xs-12">
				<h1>Brewery Search <small>Search for Brewery by Name</small></h1>
			</div>
		</div>
		<div class ="row">
			<div class="col-xs-9">
				<form method="GET" action="/search">
 					<input type="text" name="name" placeholder="Search for...">
        			<button class="btn btn-primary btn-sm" type="submit">Go!</button>
				</form>
			</div>
		</div>
	</div>
	<% if (results) { %>
	<div class="jumbotron homeStuff">
	<div class="row">
		<div class="col-xs-offset-1">
<!-- 			if there are actual search results, show them
 -->			
			<h1>Search Results:</h1>
			
		</br>
		</div>
	</div>
	<% } %>
	<div class="row">
		<div class="col-xs-6 col-xs-offset-1">
<!-- 			if no results are found, say so
 -->			<% if (noBreweries) { %>
			<p>No results found</p>
			<% } %>
			<table class="table-list">
				<tbody><% breweries.forEach(function(brewery) { %>
					<tr>
<!-- 						show the thumbnail images of the breweries if there are any, otherwise, don't show anything
 -->						<td width="72" align="center" padding="20"><% if (brewery.images) { %><img width="64" height="64" src="<%= 						brewery.images.icon %>" class="img-thumbnail"><% } %>
						</td>
						<td position="center">
							<h4><a href="/breweries/<%= brewery.id %> "><%= brewery.name %></h4></br>
						</br>
						</td>
					</tr>
					<% }) %> 
				</tbody>
			</table>
		</div>
	</div>
	</div>
</div>
</html>